#content {
  width: 800px;
  height: 150px;
  margin: 20px auto;
}

body {
  background: whitesmoke;
  text-align: center;
}

header{
    padding-top: 0;
    background: black;
    background-size: cover;
    width: 100%;
    max-height: 50%;
}

.slick{
  background: rgb(86, 88, 84);
}

.text_header{
    display: inline;
    color: rgb(173, 82, 30);
    font-size: 30px;
    font-weight: bold;

    order: 2;
    flex: 1;
}
#header{
    max-width: 100px;
    max-height:100px;
}

img {
margin :auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
width: 200px;
height: 150px;
border-radius: 10px;
}
